*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
#register {
  width: 50%;
  border: 1px solid #d6d7da;
  padding: 15px 15px 15px 15px;
  border-radius: 5px;
  font-family: arial;
  line-height: 16px;
  color: #333333;
  font-size: 14px;
  background: #ffffff;
  margin: 20px auto;
}

form label {
  display: block;
  margin-bottom: 10px;
  width: 90%
}

#input {
  padding: 10px;
  border: solid 1px #BDC7D8;
  width:100%;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.button {
  background-color: #00BFFF;
  border: none;
  font-weight: bold;
  padding: 12px 15px;
  color: #ffffff;
}

.errorMsg {
  color: #cc0000;
  margin-bottom: 12px;
}

.sucessMsg {
  color: #6B8E23;
  margin-bottom: 10px;
}

.unorder{
  list-style-type: none;
  margin: 0;
  padding: 8px;
  width: 20%;
  background-color: #e8e8e8;
  position:fixed;
  top:47px;
  height: auto;
  overflow: auto;
  
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.w3-btn, .w3-button {
  border: none;
  display: inline-block;
  padding: 12px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color:#f1f1f1 ;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.ui.compact.menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 2px;
  vertical-align: middle;
  width: 100%;
}
#uibtn{
  background-color: #fff;
  color: #000;
  width: 32%;
  border-bottom:4px solid #fff ;

}
#uibtn:hover{
  border-bottom:4px solid rgb(6, 6, 168);
  border-radius: unset;
}
#menubtn{
  margin: 7px;
  background-color: #fff;
  width: 96%;
}
.main{
  text-align: center;
    background-color: #E8E8E8;
    padding: 10px;
    
}
.first{
  position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
}
.ui.circular.button {
  border-radius: 10em;
  background: black;
  width: 65px;
  height: 65px;
  margin: 2px;
}
.ui.circular.button:hover{
  background-color:black;
}
.col1{
  width: 4%;
  
}
#lastbtn{
  background-color: #fff;
  width: 130px;
  height: 80px;
  color: #000;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  
}
#fname{
  width: 85%;
    margin-top: 5%;
    padding: 2%;
    border: none;
    border-bottom: 1px solid #ddd7d7;
}
#lastbtn1{
  background-color: #d2d0cd;
    width: 130px;
    height: 20px;
    color: #666666;
    margin-left: 8px;
    font-size: 14px;
}
.loginBtn{
  width: 30%;
    border: none;
    padding: 6px;
    margin: 5px;
    background: #d2d0cd;
    color: rgba(0,0,0,.6);
}
.registerBtn{
  background: #d2d0cd;
  width: 30%;
  border: none;
  padding: 6px;
  margin: 5px;
  color: rgba(0,0,0,.6);
}
#time{
  display:none;
}
.MuiAppBar-colorPrimary{
  
  color: black !important;
  background: #E8E8E8 !important;
  padding: 15px;
  border-radius: 10px;
}
.MuiTab-textColorInherit {
  color: inherit;
  opacity: 1 !important;
  outline-color: black !important;
}
#simple-tab-0{
  opacity: 1;
}


button:focus {
  
  outline: black;
}
.MuiAppBar-root {
  width: 100%;
  display: flex;
  z-index: 1100;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;

}
[role~=tabpanel] {
  background :#E8E8E8 !important;
  margin-top: 10px;
  box-shadow: 4px 6px 6px 2px rgba(0,0,0,0.2), 5px 2px 5px 1px rgba(0,0,0,0.14), -2px 0px 10px 1px rgba(0,0,0,0.12);
  border-radius: 10px;
  
}
#tabs{
  margin-top: 50px;
  background :transparent !important;
  box-shadow:none;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}
.ui.fluid.button {
  display: block;
  padding: 12px;
  font-size: 13px;
}
.btn-info {
  color:rgba(0,0,0,.87) !important;
  background-color: rgb(210, 208, 205) !important;
  border-color: #a5aaab !important;
  padding: 4px !important;
    width: 30% !important;
    margin-top: -2px !important;
}
button:focus {
  outline: transparent !important;
  border: transparent  !important;
}
.btn-info.focus, .btn-info:focus {
  box-shadow: 0 0 0 0.2rem rgb(210, 208, 205) !important;
}

#modelbtn{
  width: 40%;
  margin: 5px;
}
.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(210, 208, 205) !important;
}
.MuiBox-root-2 {
  padding: 2px !important;
}

.ReactCrop {
  
  max-width: 100% !important;
  position: absolute !important;
  margin-right: 50px;
}
.ReactCrop__crop-selection {
  
  width: "";
}

#canvas{
  width: 86% !important;
  margin-top: 2%;
  
}
#canvas1{
  width: 86% !important;
  margin-top: 2%;
  

  
}

.ReactCrop__image{
  height: 160px !important;
}


.makeStyles-paper-9 {
  width: 30% !important;
  height: auto !important;
  border: 2px solid #000;
  padding: 10px !important;
  position: fixed !important;
  top: 1% !important;
  transform: none !important;
  left: 40% !important;
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);
  background-color: #fff;
}
.MuiPaper-elevation4 {
  box-shadow: 4px 6px 6px 2px rgba(0,0,0,0.2), 5px 2px 5px 1px rgba(0,0,0,0.14), -2px 0px 10px 1px rgba(0,0,0,0.12) !important;
}
.MuiPaper-elevation1 {
  box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.2), 0px 1px 1px 1px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12) !important;
}
.MuiCard-root {
  overflow: hidden;
  padding-left: 40px !important;
  padding-top: 25px !important;
  padding-bottom: 20px !important;
}
.ReactCrop__image {
  display: block;
  height: 114px;
  width: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

 .is-danger{
   color: red;
   border-top: 1px solid red;
   width:85%;
 }
 .data-wrap{
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
 }
 .pagination {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pagination > li {
  border: 2px solid rgb(185, 181, 181);
  margin: 10px;
  padding: 10px;
  list-style: none;
  cursor: pointer;
  background: #eee;
}
.ui.fluid.button:focus{
  border: 1px solid black !important;
}
#vertical-tab-0{
  background: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px ;
}
#vertical-tab-1{
  background: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px ;
}
#vertical-tab-2{
  background: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px ;
}
#vertical-tab-3{
  background: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px ;
}
#vertical-tab-4{
  background: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px ;
}
#vertical-tab-5{
  background: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px ;
}
#vertical-tab-6{
  background: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px ;
}
#vertical-tab-7{
  background: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px ;
}
.makeStyles-tabs-2 {
  border-right: 0px solid #E8E8E8 !important;
}
.MuiTab-root {
  min-height: 35px !important;
  
}
